@import "../../node_modules/twitter-bootstrap-3.0.0/less/bootstrap.less";
@import "./variables.less";

navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.typeahead-container ul {
  width: 288px;
  overflow: hidden;
}

.typeahead-container ul>li>a {
  white-space: normal;
}

.search {
  width: 288px;
  margin: 12px;
  input {
    border: 0;
    border-radius: 0;
  }
  button {
    background: #C6C4DA;
  }
}

button.btn {
  border-radius: 0;
}

div.infoBox {
  background-color: @scene-background;
  width: 315px;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 12px 12px 12px;
  color: @primary-color;
  border-right: 1px solid @border-color;

  a {
    color: @acent-color;
    font-size: 18px;
  }

  hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid @border-color;
    margin: 1em 0; padding: 0;
  }

  .maintainerBox {
    float: left;
    margin-right: 4px;
    position: relative;
    overflow: visible;
  }

  .nodes {
    float: left;
    width: 50%;
    border-right: 1px solid @border-color;
    margin-right: 9px;
  }

  .number {
    font-size: 28px;
    line-height: 24px;
    color: @acent-color;
  }

  .packagesCount {
    top: 29px;
    right: -12px;
    font-size: 21px;
    position: absolute;
    z-index: 1;
    overflow: visible;
    white-space: nowrap;
    background: #36394A;
    width: 47px;
    height: 25px;
    text-align: center;
  }

  ::-moz-selection { /* Code for Firefox */
      color: red;
      background: yellow;
  }

  ::selection {
      color: red; 
      background: yellow;
  }

  div.packageInfo {
    pre {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      color: @secondary-color;
    }
    .version {
      color: @secondary-color;
      float: right;
    }
  }
}

.full  {
  width: 100%;
  height: 100%;
}

body {
  background-color: @scene-background;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.graphView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  height: 100%;
  &.d2d {
    left: 315px;
    svg {
      .full;
    }
  }
}

.sidebar {
  position: absolute;
  top: 50px;
  left: 20;
  width: 320px;
  height: 200px;
  overflow-y: auto;
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.no-shadow {
  box-shadow: none;
}

.switchMode {
  position: absolute;
  bottom: 15px;
  left: 30px;
  &.d2d {
    left: 330px;
  }
}
