@import "../../node_modules/twitter-bootstrap-3.0.0/less/bootstrap.less";

navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.typeahead-container ul {
  width: 300px;
  overflow: hidden;
}

.typeahead-container ul>li>a {
  white-space: normal;
}

.search {
  width: 400px;
  margin: 15px 15px 15px 30px;
}

.typeahead-container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3),0 4px 15px -5px rgba(0, 0, 0, 0);
  border-radius: 4px;
}

div.packageInfo {
  width: 350px;
  position: absolute;
  top: 52px;
  left: 31px;
  padding: 11px 13px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3),0 -3px 8px rgba(0, 0, 0, 0.2);
}

body,
.full {
  width: 100%;
  height: 100%;
}

.graphView {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.graphView > svg {
  width: 100%;
  height: 100%;
  background-color: #36394A;
}

.sidebar {
  position: absolute;
  top: 50px;
  left: 20;
  width: 320px;
  height: 200px;
  overflow-y: auto;
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.no-shadow {
  box-shadow: none;
}

.switchMode {
  position: absolute;
  bottom: 15px;
  left: 30px;
}

body {
  position: absolute;
  overflow: hidden;
}
