<graph-viewer source='graph' root='root' node-selected='onNodeSelected' mode='mode'>
  <edge>
    <arrow stroke='#D3D3D3'
           from='{{pos.from}}'
           to='{{pos.to}}'
           offset='8'></arrow>
  </edge>
  <node>
    <circle fill='#CFCCDF' r='5px'></circle>
    <text fill='gray' y='-10' x='-5'>{{id}}</text>
  </node>
</graph-viewer>

<div class='infoBox' ng-show='selectedPackage'>
  <div class='header'>
    <a ng-click='switchInfoMode("package", $event)' href='#'
      ng-class='{"selected": packageInfoVisible}'>package info</a>
    <a ng-click='switchInfoMode("graph", $event)' href='#'
      ng-class='{"selected": graphInfoVisible}'
      class='last'>graph info</a>
    <div class='clearfix'></div>
  </div>
  <hr class='divider'>
  <div class='packageInfo ng-cloak' ng-show='packageInfoVisible'>
    <a ng-href='https://npmjs.org/package/{{selectedPackage.name}}'>{{selectedPackage.name}}</a>
    <span class='version' title="version">{{selectedPackage.version}}</span>
    <p class='description'>
      {{selectedPackage.description}}
    </p>
    <pre class="sh sh_sourceCode"><code>npm install {{selectedPackage.name}}</code></pre>
    <div class='maintainers'>
      <h4>maintainers</h4>
      <div class='maintainersContainer'>
        <div ng-repeat="maintainer in maintainers" class='maintainerBox'>
          <a href="#" ng-href='{{maintainer.profile}}' target="_blank">
            <img ng-src="{{maintainer.avatar}}" />
          </a>
        </div>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
  <div class='graphInfo ng-cloak' ng-show='graphInfoVisible'>
    <div class='nodes'>
      <p># of nodes</p>
      <p class='number'>{{nodesCount}}</p>
    </div>
    <div class='links'>
      <p># of links</p>
      <p class='number'>{{linksCount}}</p>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class='all-maintainers'>
      <h4>maintainers</h4>
      <div class='maintainersContainer'>
        <div ng-repeat="maintainer in allMaintainers" class='maintainerBox'>
          <a href="#" ng-href='{{maintainer.profile}}' target="_blank">
            <img ng-src="{{maintainer.avatar}}"
              ng-mouseenter='maintainer.countVisible = true'
              ng-mouseleave='maintainer.countVisible = false'/>
          </a>
          <span class='packagesCount' ng-show='maintainer.countVisible'>
            x {{maintainer.count}}
          </span>
        </div>
      </div>
      <div class='clearfix'></div>
    </div>
    <hr>
    <div class='all-licenses'>
      <h4>licenses</h4>
      <div class='licensesContainers'>
        <div ng-repeat="license in allLicenses" class='license-row'>
          <span>{{license.name}}</span>
          <span class='last'>{{license.count}}</span>
        </div>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
<div class='switchMode d2d' ng-show='canSwitchMode'>
  <button class="btn btn-xs btn-danger" ng-click="switchMode()" type="button">Show 3D</button>
</div>
