<graph-viewer source='graph' root='root' node-selected='onNodeSelected' mode='mode'>
  <edge>
    <arrow stroke='#D3D3D3'
           from='{{pos.from}}'
           to='{{pos.to}}'
           offset='8'></arrow>
  </edge>
  <node>
    <circle fill='#CFCCDF' r='5px'></circle>
    <text fill='gray' y='-10' x='-5'>{{id}}</text>
  </node>
</graph-viewer>

<div class='packageInfo' ng-show='selectedPackage'>
  <a ng-href='https://npmjs.org/package/{{selectedPackage.name}}'>{{selectedPackage.name}}</a>
  <span class='version' title="version">{{selectedPackage.version}}</span>
  <hr class='divider'>
  <p class='description'>
    {{selectedPackage.description}}
  </p>
  <pre class="sh sh_sourceCode"><code>npm install {{selectedPackage.name}}</code></pre>
  <div class='maintainers'>
    <div>maintainers</div>
    <div class='maintainersContainer'>
      <div ng-repeat="maintainer in maintainers" class='maintainerBox'>
        <a href="#" ng-href='{{maintainer.profile}}' target="_blank">
          <img ng-src="{{maintainer.avatar}}" />
        </a>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
  <div class='graphInfo'>
    <hr>
    <div class='nodes'>
      <p>nodes total</p>
      <p class='number'>{{nodesCount}}</p>
    </div>
    <div class='links'>
      <p>links total</p>
      <p class='number'>{{linksCount}}</p>
    </div>
    <div class="clearfix"></div>
    <hr>
  <div class='all-authors'>
    <div>all authors</div>
    <div class='maintainersContainer'>
      <div ng-repeat="author in authors" class='maintainerBox'>
        <a href="#" ng-href='{{author.profile}}' target="_blank">
          <img ng-src="{{author.avatar}}" />
        </a>
        <span class='packagesCount'>
          x {{author.count}}
        </span>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
  </div>
</div>

<div class='switchMode' ng-show='canSwitchMode'>
  <button class="btn btn-xs btn-danger" ng-click="switchMode()" type="button">Show 3D</button>
</div>
