<graph-viewer source='graph' root='root' node-selected='onNodeSelected' mode='mode'>
  <edge>
    <arrow stroke='#D3D3D3'
           from='{{pos.from}}'
           to='{{pos.to}}'
           offset='8'></arrow>
  </edge>
  <node>
    <circle fill='#CFCCDF' r='5px'></circle>
    <text fill='gray' y='-10' x='-5'>{{id}}</text>
  </node>
</graph-viewer>

<package-info graph='graph'></package-info>

<div ng-show='showError' class='failed'>
  <h4>{{error}}</h4>
  <pre>{{errorData | json}}</pre>
</div>

<div ng-show='showProgress' class='graph-progress'>
  <h4>Remaining packages: <span>{{progress}}</span></h4>
</div>

<div ng-show='showSwitchMode' class='switchMode d2d'>
  <button class="btn btn-xs btn-danger" ng-click="switchMode()" type="button">Show 3D</button>
  <button class="btn btn-xs btn-danger" ng-hide="showSize" ng-click="toggleSize()" type="button">Toggle Size</button>
  <button class="btn btn-xs btn-success" ng-show="showSize" ng-click="toggleSize()" type="button">Toggle Size</button>
</div>
